{% extends "menus/menus_base.html" %}
{% load static %}

{% block title %}
Lista de menus
{% endblock title %}

{% block subcontent %}

<h5 class="card-title mb-4">Lista de menús disponibles</h5>

<div class="row justify-content-center">
    <div class="col-auto">
        <div class="table-responsive">
            <table id="tablaMenus" class="table table-hover w-auto text-nowrap btTable" data-show-export="true"
                data-pagination="true" data-click-to-select="true" data-show-columns="true" data-sortable="true"
                data-search="true" data-live-search="true" data-buttons-align="left" data-search-align="right"
                data-server-sort="false">
                <thead>
                    <tr>
                        <th scope="col" data-field="menuID" data-sortable="true">ID</th>
                        <th scope="col" data-field="menuYear" data-sortable="true">Año</th>
                        <th scope="col" data-field="menuMonth" data-sortable="true">Mes</th>
                        <th scope="col" data-field="menuDay" data-sortable="true">Día</th>

                        <th scope="col" data-field="Accion" data-sortable="true">Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    
                    {% for menu in menu_list %}
                    <tr>
                        <td>{{ menu.id }}</td>
                        <td>{{ menu.menu_date|date:'Y' }}</td>
                        <td>{{ menu.menu_date|date:'m' }}</td>
                        <td>{{ menu.menu_date|date:'d' }}</td>
                        
                        <td>
                            <a class="btn btn-primary" href="{% url 'menus_app:menu-detail' menu.id %}"
                            role="button">Ver detalle</a>

                            <a class="btn btn-secondary" href="{% url 'menus_app:menu-edit' menu.id %}"
                            role="button">Editar</a>

                            <form style="display: inline-block;" action="{% url 'menus_app:menu-delete' menu.id %}"
                                method="post">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit">Eliminar</button>
                            </form>

                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="{% static 'js/components/initBTtables.js' %}"></script>
<script src="{% static 'js/components/checkDeleteSubmit.js' %}"></script>
{% endblock subcontent %}