{% load static %}
<footer class="text-white d-flex align-items-end bg-dark mt-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3 mt-2">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="mb-1"><img src="{% static 'img/footer/phone.svg' %}" alt=""> Mesa de
                                    Ayuda:</p>
                                <p class="mt-0"><img src="{% static 'img/footer/chile.svg' %}" alt=""> (+56 9) 9129
                                    1640
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-1 text-center">
                        <img src="{% static 'img/footer/cornershop.png' %}" alt="" style="width:150px; height:30px;">
                        <hr>
                        <p class="mt-1">© 2020 nombreempresa S.A. Todos los derechos reservados.</p>
                    </div>
                    <div class="col-sm-3 mt-2">
                        <div class="row">
                            <div class="col-sm-6">&nbsp;</div>
                            <div class="col-sm-6">
                                <p class="mb-1"><img src="{% static 'img/footer/mail.svg' %}" alt=""> Mail de
                                    contacto:</p>
                                <p class="mt-0">izenteno22@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>