{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-white shadow d-flex align-items-start">
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto text-center">
            <a class="navbar-brand">
                Sistema de almuerzos
            </a>
        </ul>
        <ul class="navbar-nav m-auto text-center">


            <li class="nav-item mx-2">
                <a class="nav-link" href="">
                    <span style="font-size: 1.5em;">
                        <i class="fas fa-home"></i>
                    </span><br>
                    Home
                </a>
            </li>

            <li class="nav-item mx-2">
                <a class="nav-link" href="">
                    <span style="font-size: 1.5em;">
                        <i class="fas fa-shield-alt"></i>
                    </span><br>
                    Admin
                </a>
            </li>


            <li class="nav-item mx-2">
                <a class="nav-link" href="">
                    <span style="font-size: 1.5em;">
                        <i class="fas fa-utensils"></i>
                    </span><br>
                    Menus
                </a>
            </li>


        </ul>

        <!-- Right Side Of Navbar -->
        <ul class="navbar-nav ml-auto">
            <!-- Authentication Links -->

            <li class="nav-item">
                <a class="nav-link" href="">Login <i class="fas fa-sign-in-alt"></i></a>
            </li>
            <li class="nav-item"></li>
                <a class="nav-link" href="">Registrar <i class="fas fa-user-plus"></i></a>
            </li>
        </ul>
    </div>
</nav>